<div class ="row">
	<div class="span6">
		<h1 class="title">Hi There!</h1>
		<p class="welcome">Let's get things going with a fresh post.</p>

      <ul class="hideMe">
        <li>"There is no greater agony than bearing an untold story inside you."-Maya Angelou</li>
        <li>“History will be kind to me for I intend to write it.” ― Winston Churchill</li>
        <li>“Lock up your libraries if you like; but there is no gate, no lock, no bolt that you can set upon the freedom of my mind.” -Virginia Woolf</li>
        <li>“After nourishment, shelter and companionship, stories are the thing we need most in the world.” ― Philip Pullman</li>
      </ul>
	</div>
	<div class="span6">
    <div class="bump">
  		<h1>A new post.</h1>
  		<%= render 'form' %>
    </div>
	</div>
</div>  




